<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ödev 6 - Flask Uygulaması</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container mt-5">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title text-center">Öğrenci Bilgileri</h1>
          <p class="card-text"><strong>İsim:</strong> Ömer Faruk Boran</p>
          <p class="card-text"><strong>Öğrenci Numarası:</strong> 211220076</p>

          <h2 class="text-center mt-4">Rastgele Noktalarla Görsel</h2>
          <div class="text-center">
            <img
              id="plot"
              class="img-fluid rounded mx-auto d-block"
              src="{{ url_for('static', filename='images/plot.jpg') }}"
              alt="Plot"
              width="600"
              height="600"
            />
            <br />
            <button class="btn btn-primary mt-3" onclick="refreshImage()">
              Yeni Görsel Oluştur
            </button>
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
      function refreshImage() {
        fetch("/generate_plot")
          .then((response) => response.json())
          .then((data) => {
            // Benzersiz bir parametre ekleyerek resim URL'sini güncelle
            const timestamp = new Date().getTime();
            document.getElementById("plot").src =
              data.new_image_url + "?t=" + timestamp;
          });
      }
    </script>
  </body>
</html>
